* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

p{
    color: black;
    font-size: 1.5rem;
}

.row {
    --bs-gutter-x: -3rem;
}

.font-pers {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 100px;
}

a {
    color: white;
    text-decoration: none;
}

#arriba .navbar {
    width: 100%;
}

@media (min-width:992px){
    #arriba .container-fluid {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width:992px){
    #navbarNav {
        justify-content: end;
    }
}

@media (min-width:1200px){
    #navbarNav a{
        font-size: 1.8rem;
    }
}

#arriba .navbar-nav {
    gap: 5px;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

@media (min-width:992px){
    .navbar-nav {
        gap: 30px;
        margin-top: 0.5rem;
    }
}

img {
    max-width: 100%;
}

@media (min-width:992px){
    .img-mobile {
        display: none!important;
    }
    .img-desktop {
        display: block!important;
    }
}

#carousel_inicio {
    background-color: black;
    position: sticky;
}

#carousel_inicio .carousel-item img{
    max-width: 100%;
    object-fit: cover;
    height: 200px;
}

@media (min-width: 992px){
    #carousel_inicio .carousel-caption{
        bottom: 40%;
        text-align: left;
    }
    #carousel_inicio .btn-productos{
        background-color: white;
        color: black;
        padding: 0rem 1rem;
    }
}

@media (min-width:425px){
    #carousel_inicio .carousel-item img{
        height: 225px;
    }
}

@media (min-width:576px){
    #carousel_inicio .carousel-item img{
        height: 250px;
    }
}

@media (min-width:768px){
    #carousel_inicio .carousel-item img{
        height: 300px;
    }
}

@media (min-width:992px){
    #carousel_inicio .carousel-item img{
        height: 350px;
    }
}

@media (min-width:1024px){
    #carousel_inicio .carousel-item img{
        height: 400px;
    }
}

@media (min-width:1200px){
    #carousel_inicio .carousel-item img{
        height: 470px;
    }
}

@media (min-width:1440px){
    #carousel_inicio .carousel-item img{
        height: 500px;
    }
}

@media (min-width:2500px){
    #carousel_inicio .carousel-item img{
        height: 600px;
    }
}

.btn-productos-carousel{
    margin-top: 1rem;
    width: 20%;
    background-color: white;
    color: black;
    align-self: flex-start;
    text-align: left;
    font-size: 2rem;
}

.text-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    padding-left: 10%;
    color: white;
}

.text-carousel .btn-productos{
    margin-top: 1rem;
    width: 60%;
    background-color: white;
    color: black;
    align-self: flex-start;
    text-align: center;
    font-size: 2rem;
}

.text-carousel .btn-productos:hover{
    background-color: #f44336;
    color: white;
}

.presentation {
    color: black;
    margin-top: 10%;
    font-size: 2.2rem;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

@media (min-width:576px){
    .presentation {
        margin-top: 8%;
        font-size: 2.5rem;
    }
}

@media (min-width:768px){
    .presentation{
        font-size:3rem;
    }
}

@media (min-width:992px){
    .presentation {
        margin-top: 6%;
        font-size: 3.5rem;
    }
}

#productos-inicio .card{
    justify-content: space-between;
}

#carousel_productos {
    position: sticky;
}

#carousel_inicio .fa-chevron-left, #carousel_inicio .fa-chevron-right{
    color: rgb(255, 255, 255);
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    color: rgb(72, 72, 72);
}


@media (min-width: 992px){
    #carousel_productos {
        display: none;
    }
    #productos-inicio .d-none {
        display: flex!important;
    }
}

@media (min-width: 768px){
    #info-empresa-mobile{
        display: none;
    }
    #info-empresa {
        display: block!important;
        margin: 5% 0;
    }
}

@media (min-width: 768px){
    .img-empresa {
        display: flex;
        height: 330px;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url(../img/img-empresa.jpg);
    }
}

@media (min-width: 992px){
    .img-empresa {
        height: 400px;
    }
}

@media (min-width: 1200px){
    .img-empresa {
        height: 500px;
    }
}

@media (min-width: 2500px){
    .img-empresa {
        height: 800px;
    }
}

@media (min-width: 768px){
    .text-img-empresa {
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        margin-left: 5%;
        padding-bottom: 5rem;
        font-size: 1.5rem;
        color: black;
        width: 30%;
    }
}

@media (min-width: 992px){
    .text-img-empresa {
        padding-bottom: 10rem;
    }
}

@media (min-width: 1200px){
    .text-img-empresa {
        padding-bottom: 8rem;
    }
}

.q-titulo {
    text-align: center;
    font-size: 3rem;
}

.img-contacto {
    display: flex;
    flex-flow: column;
    height: 650px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../img/contacta-con-nosotros.jpg");
}

.desc {
    font-size: 2rem;
}

@media (min-width:768px){
    .desc {
        font-size: 1.5rem;
    }
}

@media (min-width:1200px){
    .desc {
        font-size: 1.8rem;
    }
}

.formulario {
    
    width: 40%;
}

.formulario div {
    width: 45%;
    display: grid;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.titulo-formulario {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: black;
    width: 40%;
    margin: 2% 2% 0;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
}

.formulario label {
    font-size: 1.5rem;
}

.formulario input, .formulario textarea {
    border-radius: 15px;
    border: 2px solid gray;
    padding: 0.2rem 0.5rem;
}

.div-contacto .card {
    width: 40%;
    margin: 2% 2%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
}

.formulario .mensaje {
    width: 100%;
}

.formulario button {
    font-size: 1.7rem;
}

body {
    background-color: withe;
}

.card {
    padding: 2rem;
    width: 230px;
    height: auto;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow {
    box-shadow: -1px 0rem 1rem rgba(0, 0, 0, 0.15)!important;
}

.orden1 {
    order:0;
}

.orden2 {
    order:1;
}
.orden3 {
    order:2;
}

.orden4 {
    order:3;
}

.card-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    color: black;
}

h2{
    font-size: 2rem;
}

.ejemplo-overflow {
    width: 100px;
    height: 110px;
    border: solid 1 px red;
    display: inline-block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.info-tag {
    position: absolute;
    top: 10px;
    left: 65%;
    padding: 0 5px;
    background-color: red;
    color: white;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

ul{
    list-style-type: none;
}

#navbarNav li {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.6rem;
}

#navbarNav li:active {
    color: white;
    background-color: red;
}

#navbarNav li:hover {
    color: white;
    background-color: red;
}

#productos .filtro-1, #productos .filtro-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-filtro, #btn-ordenar{
    width: 90%;
    font-size: 1.5rem;
    background-color:black;
}

#offcanvasTop {
    height: 100%;
}

#offcanvasTop a{
    width: 100%;
    color: black;
    font-size: 2rem;
    border-top: 1px solid rgb(189, 185, 185);
    display: block;
}

#offcanvasTop ul a{
    border-top: 0px;
}

#productos .dropdown-menu.show{
    width: 80%;
    font-size: 1.5rem;
}

#navbar-filtro-1 .container-fluid{
    justify-content: center;
}

#navbar-filtro-1 .dropdown-toggle{
    width: 100%;
}

@media (min-width: 992px){
    .filtro-1, .filtro-2 {
        display: none!important;
    }
}

/*#productos {
    display: flex;
}*/

@media (min-width: 992px){
    #filtros-desktop {
        display: flex!important;
        margin-top: 3%;
        padding: 0 4rem;
        flex-flow: column;
    }
}

.div-titulo{
    border-top: 1px solid rgb(90, 84, 84);
    padding: 1rem 0; 
}

.div-titulo div {
    padding: 0.3rem 1rem;
}

.titulo-filtro {
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

#productos label {
    font-size: 1.4rem;
}

#padre-products {
    display: flex;
    margin-bottom: 3%;
}

#padre-products .card {
    justify-content: space-between;
}

.padre-cards {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 30px;
    gap: 60px;
    justify-content: center;
    color: black;
}

@media (min-width: 768px) and (max-width:991px){
    .padre-cards {
        gap: 150px;
    }
}

.card h4, .card p, .card button{
    margin-top: 15px;
    text-align: center;
}

#productos-inicio button, .card button, .button-conocer, .btn-productos {
    width: 80%;
    border-radius: 5px;
    background-color: black;
    color: white;
    align-self: center;
    border: 1px solid black;
    font-size: 1.5rem;
}

#productos-inicio button:active, .card button:active, .button-conocer:active, .btn-productos:active{
    background-color: red;
    color: white;
    border: 1px solid red;
}

@media (min-width:992px){
    #productos-inicio button:hover, .card button:hover, .button-conocer:hover, .btn-productos:hover{
        background-color: red;
        color: white;
        border: 1px solid red;
    }
}

@media (min-width:1024px){
    #productos-inicio button, .card button, .button-conocer, .btn-productos{
        font-size: 1.7rem;
    }
}

.button-productos {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 5rem;
}

@media (min-width: 992px){
    .button-productos-carousel {
        justify-content: left;
        text-align: left;
        margin: 0;
        padding: 1rem;
    }
}

.btn-productos{
    width: 50%;
}

@media (min-width: 576px) {
    .btn-productos{
        width: 130px;
    }
}

.button-conocer {
    margin-top: 1rem;
    width: 40%;
}

@media (min-width:425px){
    .button-conocer {
        width: 30%;
    }
}

@media (min-width:768px){
    .button-conocer {
        margin-top: 0px;
        width: 140px;
    }
}

.title-conocer {
    font-weight: bold;
}

.main-galeria {
    background: black;
}

.main-galeria h1 {
    padding: 3rem 0;
}

.main-galeria {
    color: white;
    text-align: center;
    font-size: 2.2rem;
}

.padre-galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.padre-galeria img{
    object-fit: cover;
}

.padre-galeria img {
    width: 70%;
    height: auto;
}

.padre-galeria .s-30 {
    width: 27%;
}

.padre-galeria .s-70 {
    width: 70%;
}

.padre-galeria .s-65 {
    width: 65%;
}

.padre-galeria .s-30-1 {
    width: 31%;
}

.padre-galeria .s-45 {
    width: 48%;
}

.padre-galeria .s-35 {
    width: 35%;
    height: 330px;
}

.padre-galeria .s-30-2 {
    width: 30%;
    height: 330px;
}

.padre-galeria .s-100 {
    width: 97%;
}

.div-button-conocer {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}

/*footer {
    background-color: black;
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}*/

footer {
    padding: 2rem;
    background-color: black;
    color: white;
    font-size: 1.5rem
}

@media (min-width: 1200px){
    footer {
        font-size: 1.7rem
    }
}

footer p{
    color: white;
    margin-bottom: 0rem;
}

@media (min-width: 1200px){
    footer p{
        font-size: 1.7rem
    }
}

.footer-contacto, .footer-galeria {
    margin-top: 0rem;
}
footer .col-12, footer .col-md-4 {
    display: flex;
    flex-direction: column;
}

#enlaces a:active{
    color: red;
}

@media (min-width: 992px){
    #enlaces a:hover{
        color: red;
    }
}

#redes-mobile{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 1rem;
    font-size: 2.1rem;
    gap: 10px;
}

#redes-mobile a:active{
    color: red;
}


@media (min-width:768px){
    .iconos{
        justify-content: end!important;
        padding-right: 1rem;
        align-items: end;
    }
    #redes-mobile a:hover{
        color: red;
    }
}

@media (min-width:992px){
    /*.redes{
        align-items: end;
        padding-top: 0rem;
        padding-bottom: 0.5rem;
    }*/
}

@media (min-width:992px){
    #redes-desktop{
        display: flex!important;
    }
    #redes-mobile{
    }
}

@media (min-width:768px){
    .rights {
        text-align: left;
        justify-content: center;
        padding-top: 2rem;
    }
}

.div-3 {
    width: 50%;
    color: white;
    padding-top: 1rem;
}

.redes {
    padding-top: 1rem;
    padding-right: 1rem;
    justify-content: start;
    flex-direction: row;
    gap:10px;
}

/*.redes {
    width: 22%;
    color: white;
    padding-top: 1rem;
    padding-right: 1rem;
    justify-content: end;
    flex-direction: row;
    gap:10px;
}*/

.div-logo-footer {
    margin-left: 6%;
    width: 10%;
}

.logo-footer {
    width: 150px;
}

.img-wp, .img-ig, .img-fc{
    width: 8%;
    object-fit: contain;
}

@media (min-width:425px) {
    .img-wp, .img-ig, .img-fc{
        width: 6%;
    }
}

@media (min-width:768px) {
    .img-wp, .img-ig, .img-fc{
        width: 25px;
    }
}

.sob-nos {
    background-color: black;
}

.sob-nos h1, .sob-nos h2 {
    text-align: center;
    color: white;
}

.sob-nos h1 {
    font-size: 3rem;
    padding: 2rem 0;
}

.sob-nos h2 {
    padding: 2rem 0;
    font-size: 2rem;
    width: 80%;
    margin: auto;
}

.div-cuad {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    text-align: center;
    gap: 20px;
    justify-content: center;
}

.cuad {
    width: 20%;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size:2rem;
    padding: 2rem 0;
}

.cuad img{
    width: 20%;
    padding-bottom: 1rem;
}


